*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
img{
    width: 200px;
    height: 200;
    border-radius: 100%;
}
a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    display: block;
    width: 200px;
    padding: 20px;
    margin: 50px auto;
    border: 2px solid rgb(205, 208, 20);
}
a:hover{
    box-shadow: 0 0 20px rgb(205, 168, 209);
    transform: scale(1.1);
}