*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

font-family: 'Poppins', sans-serif;
font-size: 15px;
font-weight: bold;
padding-top: 20;
}
.card{
    width: 400px;
    height: 600px;
    background: lightcyan;
    border-radius: 30px;
    box-shadow: 0 0 20px black;
    margin: 50px auto;
    position: relative;
    top: 100px;
}
.header{
    width: 400px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-color: #e4b5f1;
    background-image: url("https://img-global.cpcdn.com/recipes/b295632bf49d1c90/400x400cq70/photo.jpg");    
}
img{
    display: block;
    width: 150px;
    height: 150px;
    background:""; 
border-radius: 50%;
border: 4px solid transparent;
margin: auto;
position: relative;
top: 50px;
}
.body{
    text-align: center;
    position: relative;
top: 10%;
}

.dato{
    display: inline-block;
}
.claro{
    color: rgb(171, 153, 153);
    opacity: 0.6;
}
.texto{
    position: relative;
    top: 90px;
    font-size: 45px;
    text-shadow: 0 5px 5px rgb(168, 50, 50);
}

.tipo{
    font-size: 20px;
    color: rgb(10, 9, 9);
}
